<div id="banner">		
		<img src="assets/headerlogo.png"/>
	</div>

<h2>track the impact of your random acts of kindness</h2>




	<div class="row-fluid">
			<div class="span4">
				<h3>have a domino?</h3>
			</div>
			<div class="span4">
				<h3>mission</h3>
			</div>
			<div class="span4">
				<h3>request</h3>
			</div>
	</div>

	<div class="row-fluid">
			<div class="span4">
				<h4>enter your domino code below and track all of the good your domino does</h4>
			</div>
			<div class="span4">
				<h4>learn how the domino experiment works and why you should care</h4>
			</div>
			<div class="span4">
				<h4>don't have a domino? enter your info and we'll ship you one on for free</h4>
			</div>
	</div>

		<div class="spacer"></div>

	<div class="row-fluid">
		
		<div class="span4">
			<div class = "shadow">
				<img src="assets/domino.png" style="height:200px"/>
			</div>
			<div class="arrow">
				<img src="assets/arrow.png"/>
			</div>
		</div>

		
		<div class="span4">
			<div id="vidcontainer">
				<img src="assets/vimeo.png" style="height:180px" style="width:320px"/>
			</div>
		</div>

		<div class="span4">
			<div class = "inputmargin">
				<input style="width:305px" type="text" placeholder="First Name">
					<div class="inputmargin"></div>
					<div class="spacer"></div>
				<input style="width:305px" type="text" placeholder="Last Name">
					<div class="inputmargin"></div>
					<div class="spacer"></div>
				<input style="width:200px" type="text" placeholder="12345 Domino Way">
				<input style="width:87px" type="text" placeholder="Apt # (opt.)">
					<div class="inputmargin"></div>
					<div class="spacer"></div>
				<input style="width:305px" type="text" placeholder="City">
					<div class="inputmargin"></div>
					<div class="spacer"></div>
				<select style="width:100px">
				  <option> State </option>
				  <option> AL </option>
				  <option> AK </option>
				  <option> AZ </option>
				</select>
				<input style="width:201px" type="text" placeholder="Zip" maxlength="10">
			</div>
		</div>
	</div>	

	<div class="spacer2">

		<div class="row-fluid">
			
<div class="span4">
			<div id ="inputappendwrap">
	  			<div class="input-append">
	  				<input id="appendedInputButton" style="width:80px" placeholder='XTRZ6541' maxlength="8" type="text">
	  				<div id ="buttonwrap">
	  					<button class="btn" type="button">Log & Track!</button>
	  				</div>
				</div>
			</div>

	</div>

			<div class="span4">
				<button class="btn" style="width:200px" type="button">Learn more</button>
			</div>

			<div class="span4">
				<button class="btn" style="width:200px">Send me a domino!</button>
			</div>

	</div>
</div>


