<div id="banner">		
		<img src="assets/headerlogo.png"/>
	</div>

<h2>track the impact of your random acts of kindness</h2>




	
			<div class="span4">
				<h3>have a domino?</h3>
				<h4>enter your code to the right and track all of the good your domino does because you passed it on</h4>
			</div>
			



	<div class="row-fluid">
		
		<div class="span4">
			<div class = "shadow">
				<img src="assets/domino.png" style="height:200px"/>
			</div>
			<div class="arrow">
				<img src="assets/arrow.png"/>
			</div>
		</div>

		
		

		

	<div class="spacer2">

		<div class="row-fluid">
			
<div class="span4">
			<div id ="inputappendwrap">
	  			<div class="input-append">
	  				<input id="appendedInputButton" style="width:80px" placeholder='XTRZ6541' maxlength="8" type="text">
	  				<div id ="buttonwrap">
	  					<button class="btn" type="button">Log & Track!</button>
	  				</div>
				</div>
			</div>

	</div>

			
	</div>
</div>


