<table border = "1">

<tr>
	<th>Activated:</th>
	<td>12/02/12</td>
</tr>

<tr>
	<th>I logged:</th>
	<td>05/16/13</td>
</tr>

<tr>
	<th>Logs since me:</th>
	<td>7</td>
</tr>

<tr>
	<th>Days since last log:</th>
	<td>8</td>
</tr>

<tr>
	<th>Card status:</th>
	<td>Very active</td>
</tr>

</table>