/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree 
 *= require_bootstrap
 */

/*copied from "bootstrap-overrides.css"*/

html {
     background: url(whitebkg.jpg) repeat;
     background-color: transparent;
     height: 100%
 }

body {
height: 100%;
background-color: transparent;
}

#leftnav {
width: 900px;
}


table {
margin-top: 15px;
}

.container {
width:0px;
}

.span4 {
text-align: center;
font-family: 'Source Sans Pro', sans-serif;

}

.notices p {
    line-height:20px !important;
}

h1 {
font-family: 'Source Sans Pro', sans-serif;
font-style: italic;
font-weight: 700;
font-size: 40px;
margin-bottom: 50px;
}

h2 {
font-family: 'Source Sans Pro', sans-serif;
font-style: italic;
font-weight: 200;
font-size: 40px;
margin-bottom: 50px;
}

h3 {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 700;
font-size: 30px;
}

li {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
font-size: 15px;
}

.navbar-form input{
margin-top: 0px;
};

.table th {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
font-size: 15px;
}

.navbar .nav{
float:none;
margin: 0 auto;
height: 40px;
width:800px;
}

.navbar .nav.pull-right{
width:190px;
}