html {
     background: url(whitebkg.jpg) repeat;
     background-color: transparent;
     height: 100%
 }

body {
height: 100%;
background-color: transparent;
}

#leftnav {
width: 900px;
}

#buttonwrap {
float:left;
}

#inputappendwrap {
width: 150px;
margin: 0 auto;
}

.input-append {
width: 200px;
}


table {
margin-top: 15px;
}

.container {
width:0px;
}

.span4 {
text-align: center;
font-family: 'Source Sans Pro', sans-serif;

}

.notices p {
    line-height:20px !important;
}

h1 {
font-family: 'Source Sans Pro', sans-serif;
font-style: italic;
font-weight: 700;
font-size: 40px;
margin-bottom: 50px;
}

h2 {
font-family: 'Source Sans Pro', sans-serif;
font-style: italic;
font-weight: 200;
font-size: 40px;
margin-bottom: 50px;
text-align: center;
}

h3 {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 700;
font-size: 30px;
line-height: 60px;
}

h4 {
	font-size: 20px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 15px;

}

li {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
font-size: 15px;
}

.navbar-form input{
margin-top: 0px;
};

.table th {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
font-size: 15px;
}

.navbar .nav{
float:none;
margin: 0 auto;
height: 40px;
width:800px;
}

.navbar .nav.pull-right{
width:190px;
}